<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nkubs.practice">

    <uses-permission
        android:name="android.permission.INTERNET"
        />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="nkubs.practice.DateChoose"
            android:label="DatePicker"
            android:logo="@drawable/ic_launcher" />


        <activity
            android:name="nkubs.practice.P_GridView"
            android:label="GridView" />

        <activity
            android:name=".P_spinner"
            android:label="spinner">

        </activity>

        <activity android:name=".P_progressBar" />

        <activity
            android:name="P_WebOpen"
            ></activity>

        <activity android:name=".P_Fragment" />

        <activity android:name=".P_ViewPager" />

        <activity android:name=".P_ViewFlipper" />

        <activity android:name=".P_ScrollView" />

        <activity android:name=".P_SharedPreferences" />
    </application>

</manifest>
