<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="nkubs.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:label=" 南开校友"
        android:icon="@drawable/nkuicon"
        android:supportsRtl="true"
        android:theme="@style/NKU_theme">
        <!-- android:label="@string/app_name"-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Login"
            >
            <intent-filter>
                <action android:name="nkubs.myapplication.Login"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".SignUpFollow"
            android:label="完善个人信息">
            <intent-filter>
                <action android:name="nkubs.myapplication.SignUp"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUp">
            <action android:name="nkubs.myapplication.SignUp" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>


        <activity android:name="nkubs.myapplication.News" >
            <action android:name="nkubs.myapplication.News" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows" >
            <action android:name="nkubs.myapplication.Fellows" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Donation" >
            <action android:name="nkubs.myapplication.Donation" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Association" >
            <action android:name="nkubs.myapplication.Association" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Mine" >
            <action android:name="nkubs.myapplication.Mine" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_FriendList" >
            <action android:name="nkubs.myapplication.FriendsList" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows_Find">
            <action android:name="nkubs.myapplication.Fellows_Find" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_Find_Accurate" >
            <action android:name="nkubs.myapplication.Find_Accurate" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_Find_Condition_getInfo" >
        <action android:name="nkubs.myapplication.Find_Condition" />
        <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_Find_Contacts" >
            <action android:name="nkubs.myapplication.Find_Contacts" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_Find_ResultAdd" >
            <action android:name="nkubs.myapplication.Find_Result" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_FriendList_DetailInfo" >
            <action android:name="nkubs.myapplication.Fellows_FriendList_DetailInfo" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Test" />

        <activity android:name=".Fellows_NewMsg">
            <action android:name="nkubs.myapplication.Fellows_NewMsg" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>


        <activity android:name=".Fellows_RecMsg">
            <action android:name="nkubs.myapplication.Fellows_RecMsg" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_RecMsg_Detail">
            <action android:name="nkubs.myapplication.Fellows_RecMsg_Detail" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Fellows_SenMsg">
            <action android:name="nkubs.myapplication.Fellows_SenMsg" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="Fellows_SenMsg_Detail">
            <action android:name="nkubs.myapplication.Fellows_SenMsg_Detail" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows_Find_Condition_list">
            <action android:name="nkubs.myapplication.Fellows_Find_Condition_list" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows_unrMsg">
            <action android:name="nkubs.myapplication.Fellows_unrMsg" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows_Request">
            <action android:name="nkubs.myapplication.Fellows_Request" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Fellows_Request_Dealing">
            <action android:name="nkubs.myapplication.Fellows_Request_Dealing" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Mine_MyInvicode">
            <action android:name="nkubs.myapplication.Mine_MyInvicode" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Mine_PwChange">
            <action android:name="nkubs.myapplication.Mine_PwChange" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Mine_InfoChange">
            <action android:name="nkubs.myapplication.Mine_InfoChange" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.Mine_PwChange_Submit">
            <action android:name="nkubs.myapplication.Mine_PwChange_Submit" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name="nkubs.myapplication.News_detail">
            <action android:name="nkubs.myapplication.News_detail" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Association_Data_1_City">
            <action android:name="nkubs.myapplication.Association_Data_1_City" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Association_Data_2_Career">
            <action android:name="nkubs.myapplication.Association_Data_2_Career" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Association_Data_3_Age">
            <action android:name="nkubs.myapplication.Association_Data_3_Age" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".Association_Info">
            <action android:name="nkubs.myapplication.Association_Info" />
            <category android:name="android.intent.category.DEFAULT" />
        </activity>








    </application>

</manifest>
